body {
	font-family: "Helvetica Neue", "Helvetica", Sans-Serif;
	background: url(poor_jeremy_1.jpg) no-repeat center center fixed;
	background-size: 100%;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
	cursor: url(smiley.gif),auto;
}

h1 {
	font-weight: 100;
	text-transform: uppercase;
}

h4 {
	font-weight: 100;
}

.transparent_bg {
	background: url(tr_bg.png) repeat center center fixed;
	padding: 50px;
	border: 1px solid #333;
}

#bandcamp_player {
	margin-top:200px;
	opacity: .35;
}

#bandcamp_player:hover {
	opacity: 1;
}

.container {

}

.center {
	text-align: center;
}

.name {
	margin-top:155px;
}

#shows {
	margin-top:50px;
	background: url(tr_bg.png) repeat center center fixed;
	width:25%;
	height: 700px;
	float:right;
	text-align: left;
}

#links {
	margin-top:50px;
	background: url(tr_bg.png) repeat center center fixed;
	width: 68%;
	height: 700px;
	float:left;
	text-align: left;
}
